spring.application.name=samoonpride
app.url=
backend.url=
server.port=8081
# Config
api.backend.url=
api.voice.to.text.url=
api.similarity.checker.issue.url=
api.similarity.checker.sentence.url=
# timeout in milliseconds
issue.creation.timeout=600000
# Thumbnail
thumbnail.width=640
thumbnail.height=480
# Hot reload
spring.devtools.restart.enabled=true
# Line
line.bot.channel-secret=
line.bot.channel-token=
line.bot.handler.path=/callback